############################################################################################
# If the unit file is disabled, you have to give the full path to enable it. For example:  #
# systemctl enable /opt/netapp/E-Series-Graphite-Grafana/eseries-metrics-collector.service #
# Refer the systemctl manual page for additional information.                              #
############################################################################################

[Service]
Type=simple
WorkingDirectory=/opt/netapp/E-Series-Graphite-Grafana
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=eseries
SyslogLevel=notice
ExecStart=/bin/dash -c 'while true; do ./eseries-metrics-collector.pl -c proxy-config.conf ; sleep 60 ; done'
Restart=on-failure

# man systemd.unit
[Unit]
After=web_services_proxy.service

[Install]
WantedBy=multi-user.target

